$font-stack: 'Source Sans Pro', sans-serif; 
$colors:(
	accentColor:#ff4e33,
	bgcolor: #21232e,
	_white: #fff,
	secBgcolor: #3b3f50,
	btncolor: #e3ac00,
	maincolor:#fff
);
$bgi: url(../img/m-h-night.jpg);
$containerWidth: 1535px;
$gradient: linear-gradient(295deg, rgba(146,43,84,1) 11%, rgba(226,170,2,1) 100%);

%defaultBtn {
	color: #fff;
	background-color: map-get($colors, btncolor);
	padding: 10px 40px;
	font-size: 1.1em;
	font-weight: 600;
	border: none;
	border-radius: 3px;
}
%logoStyle{
	display: flex;
	p{
		padding-left:20px;
		font-weight: 700;
		font-size: 1.5em;
		text-align: center;
	}
	span{
		font-size: 0.4em;
		display: block;
		font-weight: 400;
	}
}
@mixin linkdefault{
	color: map-get($colors, _white);
}
@mixin mainfont($theme: DarkGray) {
	font-family: 'Fresca', sans-serif;
	font-size: 16px;
	background-color: map-get($colors, bgcolor);
	color: map-get($colors, maincolor);
}
%fontColor {
	color: #fff;
}